.section-1 {
  background: #000000;
  border-bottom: 10px solid #222222;
  padding-bottom: 2rem;
  .image-desc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    .description {
      flex-basis: 50%;
      color: white;
      padding: 3.5rem 0;
      text-align: left;
      h1 {
        font-size: 3rem;
      }
      p {
        padding-top: 1rem;
        font-size: 1.5rem;
      }
    }
    .img-video-wrapper {
      position: relative;
      background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png")
        no-repeat;
      width: 485px;
      height: 360px;
      background-size: 480px 360px;
      video {
        position: absolute;
        top: 21.2%;
        left: 14%;
        height: 193px;
      }
    }
  }

  // devices like galaxy fold ( not working )
  @media only screen and( min-width: 280px ) and (max-width: 320px) {
    .img-video-wrapper {
      width: 250px;
      height: 200px;
      background-size: 250px 200px;
      video {
        position: absolute;
        top: 21%;
        left: 13%;
        width: fit-content;
        width: 218px;
        height: 128px;
      }
    }
  }

  // mobile
  @media only screen and (max-width: 480px) {
    // min-height: 58vh;
    .image-desc-wrapper {
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 2.8rem;
        }
      }
      .img-video-wrapper {
        width: 300px;
        height: 250px;
        background-size: 300px 240px;
        video {
          position: absolute;
          top: 21%;
          left: 13%;
          width: fit-content;
          width: 218px;
          height: 128px;
        }
      }
    }
  }

  // tablet portrait mode
  @media only screen and (min-width: 550px) and (max-width: 949px) {
    min-height: 65vh;
    .image-desc-wrapper {
      //   justify-content: flex-end;
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 3.5rem;
        }
        p {
          font-size: 2.3rem;
        }
      }
      .img-video-wrapper {
        // flex-basis: 80%;
        width: 500px;
        height: 400px;
        background-size: 500px 400px;
        video {
          position: absolute;
          top: 17%;
          left: 13%;
          width: fit-content;
          width: 365px;
          height: 250px;
        }
      }
    }
  }
}
