.form-container {
  min-height: 100vh;
  overflow: hidden;

  // padding: 2rem 2rem;
  background: url("../assets/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 30px 70px 50px 500px #000000a6,
    inset -30px -50px 50px 100px #000000a6;
  .nav-logo {
    height: 45px;
    width: 200px;
    margin-top: 2rem;
    margin-left: 1rem;
  }

  form {
    max-width: 400px;
    padding: 2rem 3rem;
    // margin: 4rem 0rem;
    margin: 5rem auto 10rem auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    h2 {
      opacity: 1;
      color: white;
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
    .genric-err {
      background-color: #e87c03;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 5px;
      margin-bottom: 1.5rem;
      a {
        color: white;
      }
    }
    input {
      outline: none;
      background-color: #333333;
      border: 0px;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1.1rem;
      width: 100%;
      color: white;
      font-weight: 100;
    }
    .username-err {
      border-bottom: 1px solid #e87c03;
    }
    .password-err {
      border-bottom: 1px solid #e87c03;
    }
    .user-err {
      font-size: 0.85rem;
      margin-bottom: 1rem;
      color: #e87c03;
    }
    .pass-err {
      font-size: 0.85rem;
      margin-bottom: 1rem;
      color: #e87c03;
    }
    button {
      width: 100%;
      border: none;
      padding: 1rem;
      background-color: #e50914;
      color: white;
      font-size: 1.2rem;
      font-weight: 700;
      border-radius: 5px;
      margin-top: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    .checkbox-help-wrapper {
      padding-top: 1rem;
      display: flex;
      color: rgb(131, 131, 131);
      justify-content: space-between;
      align-items: center;
      font-size: 0.85rem;
      .checkbox {
        display: flex;
        align-items: center;
        width: 70%;
        input[type="checkbox"] {
          width: fit-content;
          margin: 0;
          margin-right: 5px;
          &:checked {
            color: grey;
          }
        }
      }
      .help:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .facebook-login {
      margin-top: 2rem;
      display: flex;
      width: 80%;
      font-size: 0.85rem;
      &:hover {
        cursor: pointer;
      }
      .facebook-icon {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        img {
          border-radius: 2px;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .facebook-login-text {
        color: rgb(131, 131, 131);
      }
    }
  }

  footer {
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.75);
  }

  @media screen and (max-width: 480px) {
    background: black;
    .nav-logo {
      height: 2rem;
      width: 80px;
    }

    form {
      width: 100%;
      padding: 1rem;
      // padding-bottom: 2rem;
      margin-bottom: 4rem;
      padding-bottom: 10rem;
      border-radius: 0;
      h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
      }
      .genric-err {
        font-size: 1.5rem;
        a {
          font-size: 1.5rem;
        }
      }
      .user-err,
      .pass-err {
        font-size: 1.2rem;
      }
      input {
        font-size: 1.4rem;
        padding: 1.5rem 1.7rem;
      }
      button {
        margin-top: 4rem;
        font-size: 1.5rem;
      }
      .checkbox-help-wrapper {
        .checkbox {
          div {
            font-size: 1.2rem;
          }
        }
        .help {
          font-size: 1.2rem;
        }
      }
      .facebook-login {
        .facebook-login-text {
          font-size: 1.2rem;
        }
      }
    }
    footer {
      width: 100%;
      margin-top: 0rem;
      padding-top: 1rem;
      border-top: 2px solid gray;
      .grid-container {
        padding: 1rem;
        width: 100%;
        .footer-title {
          font-size: 1.6rem;
          span {
            font-size: 1.6rem;
          }
        }
        .grid-item {
          font-size: 1.3rem;
        }
      }
    }
  }
  @media (min-width: 550px) and (max-width: 1025px) and (orientation: portrait) {
    form {
      margin-top: 5rem;
      padding: 4.5rem;
      max-width: 450px;
      h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
      }
      input {
        font-size: 1.4rem;
        padding: 1.5rem 1.7rem;
      }
      button {
        margin-top: 4rem;
        font-size: 1.5rem;
      }
      .checkbox-help-wrapper {
        .checkbox {
          div {
            font-size: 1.2rem;
          }
        }
        .help {
          font-size: 1.2rem;
        }
      }
      .facebook-login {
        .facebook-login-text {
          font-size: 1.2rem;
        }
      }
    }
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      .grid-container {
        margin: 0 0.5rem;
        padding: 2rem;
        width: 100%;
        .footer-title {
          font-size: 1.6rem;
          span {
            font-size: 1.6rem;
          }
        }
        .grid-item {
          font-size: 1.3rem;
        }
      }
    }
  }
}
