nav {
  display: flex;
  max-height: 50px;
  //   max-width: 100px;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  padding-top: 1.5rem;

  img {
    height: 45px;
    width: 200px;
  }

  .language-signin {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.5rem;
    .language {
      color: white;
      height: fit-content;
      padding: 0.3rem 0.75rem;
      border: 1px solid white;
      border-radius: 5px;
      background: transparent;
      &:hover {
        cursor: pointer;
      }
    }
    button {
      height: fit-content;
      border: none;
      padding: 7.5px 18px;
      margin-right: 1rem;
      font-size: 1rem;
      background: #ee0e19;
      border-radius: 5px;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    width: 90%;
    img {
      height: 2rem;
      width: 80px;
    }
    .language-signin {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1rem;

      .language {
        font-size: 1.2rem;
        padding: 5.5px 15px;
      }

      button {
        height: fit-content;
        border: none;
        padding: 7.5px 18px;
        font-size: 1.2rem;
        background: #ee0e19;
        border-radius: 5px;
        color: white;
        margin-right: 0;
      }
    }
  }
}
