.section-1 {
  background: #000000;
  border-bottom: 10px solid #222222;
  padding-bottom: 2rem;
  .image-desc-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 3rem;
    .description {
      flex-basis: 50%;
      color: white;
      padding: 3.5rem 0;
      text-align: left;
      h1 {
        font-size: 3rem;
      }
      p {
        padding-top: 1rem;
        font-size: 1.5rem;
      }
    }
    .img-video-wrapper {
      position: relative;
      width: 485px;
      height: 360px;
      .tv-img {
        position: absolute;
        background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png")
          no-repeat;
        width: 485px;
        height: 360px;
        background-size: 480px 360px;
        z-index: 2;
      }
      video {
        position: absolute;
        top: 20%;
        left: 12.7%;
        width: 351px;
        height: 202px;
        z-index: 1;
        background: transparent;
      }
    }
  }

  // devices like galaxy fold ( not working )
  @media only screen and( min-width: 280px ) and (max-width: 320px) {
    .img-video-wrapper {
      width: 250px;
      height: 200px;
      .tv-img {
        position: absolute;
        width: 250px;
        height: 200px;
        background-size: 250px 200px;
      }
      video {
        position: absolute;
        top: 21%;
        left: 13%;
        width: fit-content;
        width: 218px;
        height: 128px;
      }
    }
  }

  // mobile
  @media only screen and (max-width: 480px) {
    .image-desc-wrapper {
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 2.8rem;
        }
      }
      .img-video-wrapper {
        width: 300px;
        height: 237px;
        .tv-img {
          position: absolute;
          width: 300px;
          height: 237px;
          background-size: 300px 237px;
        }
        video {
          position: absolute;
          top: 21%;
          left: 13%;
          width: fit-content;
          width: 218px;
          height: 128px;
        }
      }
    }
  }

  // tablet portrait mode
  @media only screen and (min-width: 550px) and (max-width: 1240px) {
    .image-desc-wrapper {
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 3.5rem;
        }
        p {
          font-size: 2.3rem;
        }
      }
      .img-video-wrapper {
        width: 550px;
        height: 425px;
        .tv-img {
          position: absolute;
          width: 550px;
          height: 425px;
          background-size: 550px 425px;
        }
        video {
          position: absolute;
          top: 18%;
          left: 13.25%;
          width: fit-content;
          width: 399px;
          height: 250px;
        }
      }
    }
  }
}
