.section-4 {
  background: #000000;
  border-bottom: 10px solid #222222;
  padding-bottom: 2rem;
  .image-desc-wrapper {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 3rem;
    .description {
      flex-basis: 50%;
      color: white;
      padding: 3.5rem 0;
      text-align: left;
      h1 {
        font-size: 3rem;
      }
      p {
        padding-top: 1rem;
        font-size: 1.5rem;
      }
    }
    .img-video-wrapper {
      position: relative;
      .tv-img {
        // overflow: hidden;
        background: url("https://occ-0-4875-2164.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVxdX2WnFSp49eXb1do0euaj-F8upNImjofE77XStKhf5kUHG94DPlTiGYqPeYNtiox-82NWEK0Ls3CnLe3WWClGdiJP.png?r=5cf")
          no-repeat;
        width: 545px;
        height: 425px;
        background-size: 540px 425px;
        object-fit: cover;
      }
    }
  }

  // devices like galaxy fold ( not working )
  @media only screen and( min-width: 280px ) and (max-width: 320px) {
    .img-video-wrapper {
      width: 250px;
      height: 200px;
      .tv-img {
        position: absolute;
        width: 250px;
        height: 200px;
        background-size: 250px 200px;
      }
    }
  }

  // mobile
  @media only screen and (max-width: 480px) {
    .image-desc-wrapper {
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 2.8rem;
        }
      }
      .img-video-wrapper {
        width: 310px;
        height: 237px;
        .tv-img {
          position: absolute;
          width: 310px;
          height: 250px;
          background-size: 310px 250px;
        }
      }
    }
  }

  // tablet portrait mode
  @media only screen and (min-width: 550px) and (max-width: 1240px) {
    .image-desc-wrapper {
      .description {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 3.5rem;
        }
        p {
          font-size: 2.3rem;
        }
      }
      .img-video-wrapper {
        width: 550px;
        height: 425px;
        .tv-img {
          position: absolute;
          width: 550px;
          height: 425px;
          background-size: 550px 425px;
        }
      }
    }
  }
}
