.title {
  text-align: center;
  color: white;
  width: 80%;
  margin: 10rem auto 4rem auto;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .last-p {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .input-button-wrapper {
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 70% 35%;
    width: 70%;
    margin: 0 auto;
    input {
      padding: 1.5rem 1rem;
    }
    button {
      border: none;
      background: #e50914;
      font-size: 2rem;
      color: white;
      padding: 1rem;
    }
  }
}
