.nav-title-wrapper {
  background: url("assets/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  box-shadow: inset 30px 70px 50px 500px #000000a6,
    inset -30px -50px 50px 100px #000000a6;
}
